<div class="container">
    <div class="row ">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">

                <form #loginForm="ngForm">
                    <div class="row">
                        <div class=" col-md-12 center form-group">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 form-group">
                                    <p class="h2 text-center">Change password</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10 col-md-offset-1 form-group">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <label for="password" class="control-label">Current Password</label>
                            <input type="password" placeholder="Your current password" id="defaultForm-pass" class="form-control" name="passsword" #pwd="ngModel" mdbActive [(ngModel)]="password" required>
                            <div *ngIf="pwd.errors">
                                <small *ngIf="pwd.errors.required && pwd.touched" class="text-danger">Current Password is required</small>

                                
                            </div>

                        </div>
                        <div class="col-md-10 col-md-offset-1 form-group">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <label for="password" class="control-label">New Password</label>
                            <input type="password" placeholder="Your new  password" id="defaultForm-newpass" class="form-control" name="newpasssword" #newpwd="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$" mdbActive [(ngModel)]="newpassword" required>
                            <div *ngIf="newpwd.errors">
                                <small *ngIf="newpwd.errors.required && newpwd.touched" class="text-danger">New Password is required</small>

                                <small *ngIf=" newpwd.errors.pattern && newpwd.touched" class="text-danger">Minimum 6 characters, at least one letter, one No. and one Special character </small>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                
                                
                                <div class="col-md-12">
                                    <button class="btn btn-default center-block waves-light" [disabled]="loginForm.invalid" class="btn btn-success" mdbRippleRadius (click)="changepassword()">Change Password</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                    <small *ngIf=" loginError" class="text-danger">{{loginError}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>